{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/index/web/css/main.css">
{% endblock %}

{% block script %}
    <script defer src="/index/web/js/app.js"></script>
{% endblock %}


{% block header%}
<div class="header-content">
    Welcome to Form Guide On Call<br/>

    {% if user %} 
    Hi {{ user.nickname() }}, 
    <a href="{{ logout_url }}">Logout</a>

    {% if admin %}
      <a href="{{ url_for("doc_list") }}">manage documents</a>
    {% endif %}

   {% else %}
    <a href="{{ login_url }}">Login</a>
    {% endif %}

</div>
        
{% endblock %}



{% block main %}
<div class="main-content">
    Hello world

    By documents:
    <ul class="list-by-doc">
        <li><a>W-4</a>
            <ul class="languages">
                <li><a>English</a></li>
            </ul>
        </li>
    </ul>

    By languages:
     <ul class="list-by-lang">
        <li><a>English</a>
            <ul class="documents">
                <li><a>W-4</a></li>
            </ul>
        </li>
    </ul>
</div>

 
{% endblock %}



